<% provide(:title, "About") %>
<h1>About the Dexterity App</h1>
<p>This site was created by Laura Trigeiro</p>

<p>This is my first application built on my own rather than from a tutorial or as part of a group.</p>

<h3>My goals are to use:</h3>

<ul>
	<li>Ruby on Rails framework</li>
    <li>MySQL as a database</li>
    <li>Devise to create user authentication</li>
    <li>Heroku for deployment</li>
    <li>ClearDB to use MySQL w/Heroku</li>
</ul>

<p>The goal of the app is to allow logged-in users to complete dexterity tests, record their times, and allow them to view a chart of all their times as well as an overall leaderboard.</p>

<p>Check out other projects at my <a href="https://github.com/lauratrigeiro">Github</a>.</p>

