<% if user_signed_in? %>
	<h1>Time to show us your dexterity!</h1>
	<p>Most of us use computers every day, clicking to where we need to go. How adept are you at clicking with your laptop's trackpad vs. a computer mouse?  Are you ambidextrous or is one of your hands much faster than the other?</p>
	<p>Choose a course from the <strong>Play</strong> menu above and get ready to test your speed and accuracy!</p>
	<p>If you have been here before, check out your <%= link_to "top scores", current_user %> or if you have made the overall <%= link_to "leader board", scores_path %>.</p>
<% else %>
	<div class="center jumbotron">
		<h1>Welcome to the Dexterity App!</h1>
		<h2>How dextrous are you using your right and left hands?</h2>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary signup" %>
		<p>Already a user?  <%= link_to "Sign in!", new_user_session_path, :method => :get %></p>
	</div> 
<% end %>