<p class="directions">
<% if @course == 1 %>
	Course 1 Directions: After clicking 'Start', alternate and click each of the buttons five times before clicking 'Done!' to record your time. Good luck!
<% elsif @course == 2 %>
	Course 2 Directions: After clicking 'Start', click the ten highlighted buttons in order before clicking 'Done!' to record your time. Good luck!
<% else %>
	Course 3 Directions: After clicking 'Start', click each button as it appears. Good luck!
<% end %>
</p>