<table id="leader-board" class="table table-striped table-bordered table-responsive sortable">
	<thead>
	  <tr>
	  	<th>Rank</th>
	    <th>User</th>
	    <th>Time</th>
	    <th>Pointer <%= select_tag("pointer", options_for_select(["all", "touchpad", "mouse", "trackball"], @filter_select), autocomplete: 'off', class: 'filter-select') %></th>
	    <th>Hand <%= select_tag("hand", options_for_select(["all", "right", "left"], @filter_select), autocomplete: 'off', class: 'filter-select') %></th>
	    <th>Date</th>
	  </tr>
	</thead>
	<tbody> 
		<% @count = 1 %> 
	  	<%= render @scores %> 
	</tbody>
</table>